<!DOCTYPE html>
<html lang="en">
  {% include head-en.html %}
  <body class="en intro">
    <div class="intro__overlay">
      <div class="container-fluid">
        <section class="intro__content">
          <div class="row">
            {{ content }}
          </div>
        </section>
      </div>
    </div>
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-27784087-1','auto');ga('send','pageview');
    </script>
  </body>
</html>
